@import url('htps://fonts.googleapis.com/css2?family=krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #000000;
    color: #f6f6f6;
    box-sizing: border-box;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 8%;
    gap: 82px;
}
.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cabecalho{
    padding: 2% 0% 0% 5%;
}
.cabecalho-menu{
    display: flex;
    gap: 60px;
}
.menu-link{
    font-family: "montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color:brown;
    text-decoration: none;
}
.apresentacao-titulo{
    font-size: 2.25rem;
    font-family: "Krona One" sans-serif;
    color:darkblue;
    text-align: center;
    padding: 5%;
}
.apresentacao-titulo:hover{
    color:brown;
}
.apresentacao-paragrafo{
    font-size: 1.5rem;
    text-align: justify;
    font-family: "montserrat",sans-serif;
}
.apresentacao-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao-link-subtitulo{
    font-family: "Krona one", sans-serif;
    font-weight: bold;
    font-size: 1,5rem;
}
.apresentacao-link2{
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "montserrat",sans-serif;
    font-weight: bold;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.apresentacao-link2:hover{
    background-color: #272727;
}
span{
    color:brown;
}
#imagem-principal{
    border-color: #22d4fd;
    width: 50%;
    border-radius: 48%;
    border: 2px solid black;
    border-style: solid;
    border-width: 2px;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 1%;

}
footer{
    text-align: center;
    background-color: #22D4FD;
    color: black;
    font-family: "montserrat",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 12px;
}
@media (min-width: 344px) and (max-width: 1080px) {
    body{
    background-color:cornflowerblue;
    }
    .cabecalho {
    padding: 10%;
    }
    .cabecalho-menu {
    justify-content: center;
    }
    .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
    }
    .apresentacao-conteudo {
    width: auto;
    }
    }
    .box{
        color:brown;
    }